[GENERAL]
ENABLED = ON
VERBOSE_LOGGING = ON

[NODE]
NODE_NAME = NODE1

[MAIL]
MAIL_PORT = 587
MAIL_SERVER = imap.server.tld
MAIL_LOGIN = user@domain.tld
MAIL_PASSWORD = pa55w0rd
MAIL_SENDER = user@domain.tld

[MOVIES]
RECEIVERS = user1@domain1.tld,user2@domain2.tld,user3@domain3.tld

[SERIES]
RECEIVERS = user1@domain1.tld,user2@domain2.tld,user3@domain3.tld

[PUSHOVER]
USER_KEY = xxxxxxxxxxxxxxx
TOKEN_API = xxxxxxxxxxxxxxx
SOUND = pushover
